In [8]:
import pandas as pd

In [9]:
df = pd.read_pickle('100news.pkl')
df.head(1)

,id,event_type,obj_id,source_obj_id,source,title,short_title,url,date_time,create_time,...,top_kd,top_em,tag,img_type,img_url,stock_yn,industry_yn,macro_yn,news_type,remark
0,30718269,em_warning,143574052,NaN,None,新城控股 涨停 | 沈阳房产局今日召集房企开会 拟放松限购限售政策,沈阳房产局今日召集房企开会 拟放松限购限售政策,em-warning-143574052-143569876,2021-11-11 14:23:11,2021-11-11 14:26:49,...,9,1,涨停,None,None,1,0,0,4,None

df.columns:

```
id # 30718263
event_type # news
obj_id # 99116334927
source_obj_id # source_obj_id
source # 
title # 一家新公司悄悄成立，背后是多家行业巨头
short_title # None
url # http://sc.stock.cnfol.com/ggzixun/20211111/29254214.shtml
date_time # 2021-11-11 13:01:00
create_time # 2021-11-11 14:12:45
update_time # 2021-11-11 14:12:45
summary # 11月11日讯，多家房企证实：沈阳房产局今日召集房企开会 拟放松限购限售政策。
content # 11月11日讯，多家房企证实：沈阳房产局今日召集房企开会 拟放松限购限售政策。 ######  公司的主营业务为房地
content_html # <p>11月11日讯，多家房企证实：沈阳房产局今日召集房企开会 拟放松限购限售政策。</p> <p> 公司的主营
website # 中金在线
original # 全景网
author # 责任编辑：
rel_org_a_companies_code # 600839.SH|603578.SH
rel_org_a_companies_name # 四川长虹|三星新材
rel_sw3_code # S330201|S330105
rel_sw3_name # 彩电|家电零部件
rel_industry_code # 2002|5004
rel_industry_name # 牧渔|养殖畜牧
rel_block_code # 1088|6173
rel_block_name # 电子商务|其它电子商务
rel_agency_id # 0
rel_agency_name # 通用宏观订阅规则
rel_labels # 公司|行业|金融市场
rel_label_details # 业务讨论|产品业务|公司|公司业务数据|公司经营活动|产品市场|产品销量|行业|行业竞争|房地产|金融市场
status # NORMAL
cluster_id # 675564
is_valid # 1
top_yn # 0
top_kd # 0
top_em # 1
tag # 冲击涨停
img_type
img_url
stock_yn # 1
industry_yn # 0
macro_yn # 1
news_type # 3
remark # None
```

In [10]:
d = pd.read_pickle('2mdata.pkl')
d

,kdcode,dt,open,close,high,low,turnover,volume
0,000001.SH,2021-10-08,3609.0874,3592.1666,3612.5539,3571.7338,4.929648e+11,4.071611e+10
1,000001.SH,2021-10-11,3600.3569,3591.7087,3614.6988,3586.7487,4.686738e+11,3.943612e+10
2,000001.SH,2021-10-12,3581.2967,3546.9362,3583.6391,3515.1408,4.619835e+11,4.053937e+10
3,000001.SH,2021-10-13,3543.4918,3561.7623,3569.1332,3515.6481,4.050200e+11,3.250507e+10
4,000001.SH,2021-10-14,3555.1085,3558.2795,3569.6864,3547.1820,3.775193e+11,2.949692e+10
...,...,...,...,...,...,...,...,...
132131,858811.SI,2021-11-09,2254.2000,2280.7500,2310.8500,2223.6200,1.053090e+09,1.135600e+08
132132,858811.SI,2021-11-10,2271.6800,2325.1100,2347.3100,2227.8100,1.436020e+09,1.653500e+08
132133,858811.SI,2021-11-11,2321.7000,2341.5000,2362.9300,2288.9400,1.328140e+09,1.482900e+08
132134,858811.SI,2021-11-12,2328.0700,2386.1800,2413.1100,2301.3000,1.479370e+09,1.439400e+08
132135,858811.SI,2021-11-15,2390.0600,2398.4000,2470.7100,2328.4200,1.687010e+09,1.688300e+08